<div class="row"></div>
<div class="col-md-1"></div>
<div class="col-md-auto">
  <h2> Monster Details</h2>
  <div class="form-group">
    <label for="id">Find monster by Name:</label>
    <h3 class="err">{{errorText}}</h3>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><input [(ngModel)]="foundMonster.name" name="name" class="form-control" id="name"></div>
      <div class="col-md-4"></div>
    </div>
    <button class="btn btn-primary" (click)="findMonster()"> Find</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="hidden">Id</th>
          <th><h2>Name</h2></th>
          <th><h2>Challenge rating</h2></th>
          <th><h2>Action</h2></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a routerLink="/monster-view/{{foundMonster.id}}" class="btn btn-success btn-lg btn-space" role="button">{{foundMonster.name}}</a></td>
          <td>{{foundMonster.challenge_rating}}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteMonster(foundMonster)"> Delete Monster</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <table class="table table-striped">
    <thead>
      <tr class="text-center">
          <th><h2>Name</h2></th>
          <th><h2>Challenge rating</h2></th>
          <th><h2>Action</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let monster of monsters">
        <td><a routerLink="/monster-view/{{monster.id}}" class="btn btn-success btn-lg btn-space" role="button">{{monster.name}}</a></td>
        <td><h3>{{monster.challenge_rating}}</h3></td>
        <td>
          <button class="btn btn-danger" (click)="deleteMonster(monster)"> Delete Monster</button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="findMonsters(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li *ngFor="let page of pages" class="page-item">
        <a class="page-link" (click)="findMonsters(page)">{{page}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="findMonsters(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="col-md-1"></div>