<div class="row"></div>
<div class="col-md-1"></div>
<div class="col-md-auto">
  <h2> Monster Details</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Id</th>
      <th>Name</th>
      <th>Challenge rating</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let monster of monsters">
      <td class="hidden"></td>
      <td>{{monster.id}}</td>
      <td>{{monster.name}}</td>
      <td>{{monster.challenge_rating}}</td>
      <td><button class="btn btn-danger" (click)="deleteMonster(monster)"> Delete Monster</button></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-md-1"></div>
  