<div class="col-md-6">
  <h2 class="text-center">Add Monster</h2>
<form>

  <div class="form-group">
    <label for="id">Id:</label>
   <input [(ngModel)]="monster.id" name="id" class="form-control" id="id">
  </div>

  <div class="form-group">
    <label for="name">Name:</label>
    <input [(ngModel)]="monster.name" name="name" class="form-control" id="name">
  </div>

  <div class="form-group">
    <label for="challenge_rating">Challenge Rating:</label>
   <input [(ngModel)]="monster.challenge_rating" name="challenge_rating" class="form-control" id="challenge_rating">
  </div>

  <button class="btn btn-success" (click)="createMonster()">Create</button>
</form>
</div>